- @contact.attributes.each do |key,val|
  - if ComfyImprint.attributes_to_display.include?(key.to_sym)
    .row
      %span.label
        %strong
          = "#{key.titleize} :"
      %span.value
        = val