%h2
  = t('comfy_imprint.contact_us')
- ComfyImprint.configuration.sections_to_display.each do |section|
  = render section.to_s # In the future this allows to add more sections to display, and control them from config.