%h2 Listing contacts
%table
  %thead
    %tr
      %th
      %th
      %th
  %tbody
    - @contacts.each do |contact|
      %tr
        %td= link_to 'Show', contact
        %td= link_to 'Edit', edit_contact_path(contact)
        %td= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Contact', new_contact_path
